/*Background Image*/

html {
	background: #232364;
}

/*Default Page Structure*/

.content {
	max-width: 600px;
	text-align: center;
	margin: auto;
	padding: 8em 1em;
}

.logo {
	height: 10em;
	width: 30em;
	background: url(../images/logo-horz.svg) no-repeat;
	background-size: 100%;
	margin: auto;
}
			
/*Type & Link Styling*/

p {
	color: #FFFFFF;
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
}
			
a {
	color: #F6B73A;
	text-decoration: none;
	border-bottom: 2px #F6B73A;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
			
a:hover {
	color: #FFFFFF;
	border-bottom: 2px #FFFFFF;
}

/*The Responsive Bit*/


@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	p {
		font-size: 26px;
	}

	.content {
		padding: 5em 1em;
	}

	.logo {
		height: 14em;
		width: 17em;
		background: url(../images/logo-vert.svg) no-repeat;
		background-size: 100%;
	}
}