/*Background Image*/

html {
	background: url(images/lex-back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Default Page Structure*/

.content {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 10%;
}

.logo {
	height: 270px;
	width: 800px;
	background: url(images/logo-horz.svg) no-repeat;
	background-size: 100%;
	margin: auto;
}
			
/*Type & Link Styling*/

p {
	color: #FFFFFF;
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
}
			
a {
	color: #FFFFFF;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
			
a:hover {
	color: #f6b73a;
}

/*The Responsive Bit*/

@media screen and (min-width: 320px) and (max-width: 640px) {
	p {
		font-size: 20px;
	}

	.logo {
		margin-top: 30%;
		height: 220px;
		width: 300px;
		background: url(images/logo-vert.svg) no-repeat;
		background-size: 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 860px) {
	p {
		font-size: 20px;
	}

	.logo {
		margin-top: 20%;
		height: 300px;
		width: 400px;
		background: url(images/logo-vert.svg) no-repeat;
		background-size: 100%;
	}
}

@media screen and (min-width: 860px) and (max-width: 1200px) {
	p {
		font-size: 24px;
	}

	.logo {
		height: 200px;
		width: 600px;
		background-size: 100%;
	}
}
